<!-- Update Strain -->
<div class='flexbox_container' id='flex_form'>
  <div class='flexbox_item' id='form_input'>
  <h1>Update</h1>
  <form action='/strains/<%= "#{@strain.id}" %>' method='post'>
    <label for="strain[name]">Name:</label>
      <input class="form_input" name="strain[name]" placeholder='Maui Waui' value='<%= "#{@strain.name}" %>' />
  </div>
  <div class='flexbox_item' id='form_input'>
    <label for="strain[rating]">Rating:</label>
      <input class="form_input" name="strain[rating]" placeholder="4.5" value='<%= "#{@strain.rating}" %>'/>
  </div>
  <div class='flexbox_item' id='form_input'>
    <label for="strain[media]">Image:</label>
      <input class="form_input" name="strain[media]" placeholder="IMG URL" value='<%= "#{@strain.media}" %>' />
  </div>
  <div class='flexbox_item' id='form_input'>
    <label for="strain[kind]">Kind:</label>
      <input class="form_input" name="strain[kind]" placeholder="Hybrid" value='<%= "#{@strain.kind}" %>' />
  </div>
  <div class='flexbox_item' id='form_input'>
      <label for="strain[review]">Review:</label>
        <input class="form_input" name="strain[review]" placeholder="Top shelf" value='<%= "#{@strain.review}" %>' />
  </div>
  <div class='flexbox_item' id='button'>
    <input class='btn' type="submit" value="Save">
      <input name="_method" type="hidden" value='put' />
  </div>
</form>
</div>