<nav>
<a class ="all_strains_page" href="/strains"> All Strains</a>
</nav>

<h1 id="edit_strain_title">Update</h1>

<form action='/strains/<%= "#{@strain.id}" %>' method="post">
  <label for="strain[name]">Name:</label>
  <input class = "edit_form_input" name="strain[name]" placeholder="Mango Kush" value='<%= "#{@strain.name}" %>'>

  <label for="strain[rating]">Rating:</label>
  <input class = "edit_form_input" name="strain[rating]" placeholder="4.5" value='<%= "#{@strain.rating}" %>'>

  <label for="strain[kind]">Kind:</label>
  <input class = "edit_form_input" name="strain[kind]" placeholder="Hybrid" value='<%= "#{@strain.kind}" %>'>

  <label for="strain[review]">Review:</label>
  <input class = "edit_form_input" name="strain[review]" placeholder="Top quality" value='<%= "#{@strain.review}" %>'>

  <label for="strain[media]">URL:</label>
  <input class = "edit_form_input" name="strain[media]" placeholder="IMAGE HERE" value='<%= "#{@strain.media}" %>'>

<input name="_method" type="hidden" value='put'>

  <input id = "save_edit_btn" type="submit" value="Save">


 
</form>