<h1>All Strains</h1>
<a class="btn" href="/strains/new">Add a Strain</a>

<div class="strains">
  <% @strains.each do |strain| %>
  <div class="row">
    
        <h2>
          <a href="/strains/<%= strain.id %>">
            <%= strain.name %>
          </a>
        </h2>
  
    
     <div><a href="/strains/<%= strain.id %>/edit">
          <button>Edit</button>
        </a></div>

          <div>
           <form method="post" action="/strains/<%= strain.id %>"> 
           <input name="_method" type="hidden" value='delete'>
          <input type="submit" value="Delete">
          </form>

          </div>


         <ul>
         <li>
            <%= strain.kind %>
       
            </li>
            <li>
            <%= strain.rating %>
       
            </li>
            <li>
            <%= strain.review %>
       
            </li>

    </ul>
  </div>
  <% end %>
</div>
