<div class='flex_parent_container' id='strain_id'>
	<div class='flex_child_item' id='strain_item'>
		<img src="<%= @strain.media %>" height="300px" width="300px"/>
		<h2><%= @strain.name %></h2>
		<p><%= @strain.kind %></p>
		<p><%= @strain.rating %></p>
		<p><%= @strain.review %></p>
	<div class='flex_child_item' id='btn'>
		<a href="/strains/<%= @strain.id %>/edit">
			<button class='btn'>Edit</button>
		</a>
			<form method="post" action="/strains/<%= @strain.id %>">
				<input class='btn' type="submit" value="Delete">
					<input name="_method" type="hidden" value='delete' >
			</form>
	</div>
	</div>

</div>

