<div class='flexbox_container' id='flex_strain_display'>
	<div class='flexbox_item' id='strain_details'>
		<h2><%= @strain.name %></h2> 
		<h2><%= @strain.kind %></h2>
		<h2><%= @strain.rating %></h2>
		<p><%= @strain.review %></p>
		<img src="<%= @strain.media %>" height="300px" width="300px"/>
		<div class='flexbox_item' id='button'>
		<a href="/strains/<%= @strain.id %>/edit">
			<button class='btn'>Edit</button>
		</a>
		<form method="post" action="/strains/<%= @strain.id %>" class='button_form'>
			<input class='btn' type="submit" value="Delete">
				<input name="_method" type="hidden" value='delete' >
		</form>
	</div>
	</div>
</div>