<div class='flexbox_container' id='flex_strain_display'>
  <div class='flexbox_item' id='strain_details'>
    <h2><%= @playlist.name %></h2> 
    <h2><%= @playlist.artist %></h2>
    <h2><%= @splaylist.album %></h2>
    <p><%= @playlist.song %></p>
    <div class='flexbox_item' id='button'>
    <a href="/playlists/<%= @playlist.id %>/edit">
      <button class='btn'>Edit</button>
    </a>
    <form method="post" action="/playlists/<%= @[playlist].id %>" class='button_form'>
      <input class='btn' type="submit" value="Delete">
        <input name="_method" type="hidden" value='delete' >
    </form>
  </div>
  </div>
</div>