<div class='flexbox_container' id='flex_user_profile'>
	<div class='flexbox_item' id='profile_details'>
		<h2><%= @user.username %></h2> 
		<h4><%= @user.location %></h4>
		<img src="<%= @user.avatar %>" height="300px" width="300px"/>
			<div class='flexbox_item' id='button'>
				<a href="/users/<%= @user.id %>/edit">
				<button class='btn'>Edit</button>
				</a>
				<form method="post" action="/users/<%= @user.id %>" class='button_form'>
					<input class='btn' type="submit" value="Delete">
					<input name="_method" type="hidden" value='delete' >
				</form>
	</div>
	</div>
</div>